<div class="container">

    <table class="table">
        <thead>
            <th>Clockin Time</th>
            <th>Clockout Time</th>
            <th>Total</th>
            <th>Clock Out</th>
        </thead>
        <tbody >
        {% for datetime in clock_time%}
    
        <tr>
            <td>
            {% if datetime[1].strftime("%I:%M:%S")[0] == 1%}
                {{ datetime[1].strftime("%I:%M:%S") }}
            {% else %}
                {{ datetime[1].strftime("%I:%M:%S")[1:] }}
            {% endif %}
            </td>
            {% if datetime[2] == None %}
            <td></td>
            {% else %}
            <td>
            {% if datetime[2].strftime("%I:%M:%S")[0] == 1%}
                {{ datetime[2].strftime("%I:%M:%S") }}
            {% else %}
                {{ datetime[2].strftime("%I:%M:%S")[1:] }}
            {% endif %}
            </td>
            {% endif %}
            <td>
            {% if datetime[2] != None and datetime[3] != None %}
                {% set h,m,s = datetime[3].split(",") %}
                {% set hour = h|int %}
                {% set minute = m|int %}
                {% set second = s|int %}
                
                {{ hour }}h, {{ minute }}m, {{ second }}s
            {% else %}
                None
                
            {% endif %}
            </td>
            {% if datetime[2] == None %}
                <td><button class="button is-small is-danger" hx-post="/clock_out/{{ datetime[0] }}" hx-target="body">Clock Out</button></td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>